<<<<<<< HEAD
.form_title
{
	color: rgba(51, 209, 3, 0.9);
	font-size: 1.7em;
	padding: 0 10px 0 10px;
}
#formulaire
{
	background-color: rgb(223, 245, 214);
	padding: 5px 15px 5px 15px;
	width: 50%;
	position: relative;
	top: 30px;
	left: 25%;
	text-align: left;
	z-index: 2;
	margin-bottom: 50px;
}
fieldset
{
	margin-bottom: 15px;
}
#formulaire input
{
	width: 70%;
	right: 0;
	height: 1.5em;
	margin: 10px 0 10px 0;
	margin-left: 10%;
	border: 1px solid rgb(170,170,170);
	border-radius: 3px;
	padding-left: 5px;
}
#sexe
{
	width: 200px;
	display: flex;
}
#sexe input
{
	height: 1em;
	margin: 2px 10px 0 0;
}
textarea
{
	width: 80%;
	margin-left: 10%;
}
.btn_form
{
	background-color: rgb(30, 180, 68);
	border-color: rgb(27, 155, 59);
	color: white;
	font-size: 1.2em;
	box-shadow: 0 2px rgb(27, 155, 59);
	border-radius: 3px;
	cursor: pointer;
}
.form_btn
{
	margin: 20px 5px 20px 5px;
}
=======

.bg-lightblue{
    background-color:#D4EDF7;
}

.bg-darkblue{
    background-color:#347B98;
}

.bg-lightorange{
    background-color:#FC600A;
}

.bg-darkorange{
    background-color:#B84E14;
}

.bg-brown{
    background-color:#341809;
}

.font-lightblue{
    color:#D4EDF7;
}

.font-darkblue{
    color:#347B98;
}

.font-lightorange{
    color:#FC600A;
}

.font-darkorange{
    color:#B84E14;
}

.font-brown{
    color:#341809;
}

.register-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.register-title {
    grid-area: 1 / 2 / 2 / 4;
    font-size: 40px;
    font-weight: bold;
}

.register-labels {
    grid-area: 2 / 2 / 4 / 3;
    font-size: 20px;
    font-weight:bold;
}

.register-inputs {
    grid-area: 2 / 3 / 4 / 4;
    font-size: 19px;
}



>>>>>>> master
