
.register_body
{
	background-color: #D4EDF7;
}
.register_container
{
	width: 600px;
	margin: auto;
}
.register_title
{
	color: #B84E14;
	font-size: 2.2em;
	font-weight: bold;
	margin-top: 50px;
}
.register_form
{
	width: 400px;
	margin: 30px;
}
.register_form label
{
	color: #FC600A;
	font-size: 1.1em;
	position:relative;
	display:block;
	overflow:auto;
}
.register_form input {
	position: absolute;
	right:20px;
	height: 1.3em;
	border: 1px solid rgb(170,170,170);
	border-radius: 3px;
	padding-left: 5px;
}
.register_form input:hover
{
	border: 1px solid #B84E14;;
}
.register_submit
{
	color: #341809;
	background-color: #B84E14;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
}
.register_btn
{
	position: relative;
	margin: auto;
}
