<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>HealthCare Register Form</title>
    <meta name="description"
          content="Inscrivez-vous sur HealthCare en remplissant ce formulaire">
</head>

<body class="register_body">
    <div class="register_container">
        <div class="register_title">Formulaire de création de compte</div>

        <div class="register_form" >
            <form method="post" th:action="@{/register}" th:object="${user}">
                <label for="register_name">Nom :
                    <input th:field="*{name}" name="register_name" id="register_name" placeholder="Wayne" type="text">
                </label>
                    <br>
                <label for="register_surname">Prénom :
                    <input th:field="*{surname}" name="register_surname" id="register_surname" placeholder="Bruce" type="text">
                </label>    
                    <br>
                <label for="register_username">Nom d'utilisateur :
                    <input th:field="*{username}" name="register_username" id="register_username" placeholder="WayneB" type="text">
                </label>
                    <br>
                <label for="register_email">Adresse e-mail :
                    <input th:field="*{mail}" name="register_email" id="register_email" placeholder="bruce.wayne@gmail.com" type="email">
                </label>
                    <br>
                <label for="register_password">Mot de passe :
                    <input th:field="*{password}" name="register_password" id="register_password" type="password">
                </label>
                    <br>
                <div class="register_btn">
                    <input class="register_submit" name="register_submit" type="submit" value="Créer mon compte">
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>