<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="/css/style.css" rel="stylesheet">

    <title>HealthCare Register Form</title>
    <meta name="description"
          content="Inscrivez-vous sur HealthCare en remplissant ce formulaire">
</head>

<body class="register-main bg-lightblue">

    <div class="register-title font-darkorange">
        Formulaire de création de compte
    </div>

    <div class="register-labels font-lightorange">
        <label for="register-name">Nom :</label><br><br>
        <label for="register-surname">Prénom :</label><br><br>
        <label for="register-username">Nom d'utilisateur :</label><br><br>
        <label for="register-email">Adresse e-mail :</label><br><br>
        <label for="register-password">Mot de passe :</label><br><br>
    </div>
    <div class="register-inputs">
        <form method="post" th:action="@{/account/create}" th:object="${user}">
            <input th:field="*{name}" name="name" id="register-name" placeholder="Wayne" type="text"><br><br>
            <input th:field="*{surname}" name="surname" id="register-surname" placeholder="Bruce" type="text"><br><br>
            <input th:field="*{username}" name="username" id="register-username" placeholder="WayneB" type="text"><br><br>
            <input th:field="*{email}" name="email" id="register-email" placeholder="bruce.wayne@gmail.com" type="email"><br><br>
            <input th:field="*{password}" name="password" id="register-password" type="password"><br><br>
            <input id="register-submit" name="submit" type="submit" value="Créer mon compte">
        </form>
    </div>
</body>
</html>